a.reve-item href=refe_path(reve, reve: { accepted: !reve.accepted }) id="reve-#{reve.id}" class=('accepted' if reve.accepted) data-remote=true data-method="put"
  blockquote.reve
    = reve.citation
    footer= reve.author
