//Custom variables !
$font-family-base:  'Ubuntu', sans-serif

$border-radius-base: 0px !default
$background-color: white !default
$navbar-height: 50px !default
//$navbar-margin-bottom: 0 !default
//$navbar-padding-horizontal: 20px !default
//$navbar-default-bg: white !default
$grid-gutter-width: 0
@import 'bootstrap'
body
  color: black
blockquote
  border-left: none
  footer
    color: black
    font-style: italic
    font-size: 25px
.contact
  float: right
  font-style: italic
  font-size: 21px
.reload
  float: right
img
  margin: 0 auto
.about
  padding-top: 50px
.team
  margin-top: 50px
  p
    text-align: center
  img
    border-radius: 100%
